# 제목1

In [2]:
print("Hello, World")

Hello, World

# 1. 정수형

In [2]:
type(1)

int

In [3]:
10+10

20

In [4]:
a = 2
b = 3
a, b

(2, 3)

In [5]:
a + b

5

In [7]:
a - b

-1

In [8]:
a / b

0.6666666666666666

In [9]:
a ** b

8

In [10]:
a // b

0

In [12]:
a % b

2

In [13]:
(a + b) * a

10

In [14]:
print(a + b *a )

8

## 연습문제0.

In [28]:
a, b = 7, 3.0

# code 시작
c = a // b
d = a % b

e = a ** b

print(c,d,e)

# code 종료

2.0 1.0 343.0

In [29]:
a, b =7, 3.0
type(a), type(b)

(int, float)

In [30]:
c = int(b)
type(c)

int

In [31]:
c

3

In [33]:
d = float(a)
print(type(d))
print(d)

<class 'float'>
7.0

## 연습문제1.

In [40]:
mike = 80
judy = 75
sera = 100

result = (mike + judy + sera) // 3
print("평균 : " + str(result))

평균 : 85

# Bool

In [495]:
bool("")

False

In [43]:
type(True)

bool

In [44]:
type(False)

bool

## 비교연산자

In [45]:
a,b = 1,2

In [46]:
print(a > b)

False

In [47]:
print(a < b)

True

In [49]:
print(a == b)
print( a != b)

False
True

In [56]:
print( True & True)
print(False & False)
print( True | True)
print( False or False)

True
False
True
False

In [57]:
a =10
print(a > 10 or a == 10)

True

In [60]:
not a>10

True

In [70]:
a = input("정수 1 입력하세요")
b = input("정수 2 입력하세요")
c = input("정수 3 입력하세요")

if(int(a) > 65 and int(b) > 65 and int(c) > 65): 
    print("True")
else:
    print("False")

정수 1 입력하세요99
정수 2 입력하세요99
정수 3 입력하세요99
True

# None Type

In [73]:
a = None
print(a)

None

In [76]:
quote1 = "안녕하세요. 저는 이소연입니다."
print(quote1)
type(quote1)

안녕하세요. 저는 이소연입니다.

str

In [79]:
quote1 = """안녕하세요. 
저는 이소연입니다."""
print(quote1)

안녕하세요.
저는 이소연입니다.

In [87]:
a = "사과 "
b = "과일 "
print( (a +b) * 3 )

사과 과일 사과 과일 사과 과일

## Escape Code

In [89]:
quote1 = """안녕하세요. 
저는 이소연입니다."""
print(quote1)

안녕하세요.
저는 이소연입니다.

In [90]:
quote1

'안녕하세요. \n저는 이소연입니다.'

In [94]:
quote1 = "안녕하세요 \n이소연입니다."
print(quote1)

안녕하세요
이소연입니다.

In [96]:
quote2 ="\"이소연\"입니다"
quote2

'"이소연"입니다'

In [98]:
quote3 = '"이소연" 입니다'
quote3

'"이소연" 입니다'

# Indexing, Slicing

In [100]:
quote = "안녕하세요. 이소연입니다."
quote

'안녕하세요. 이소연입니다.'

In [115]:
quote[0:2]

'안녕'

In [116]:
quote[:2]

'안녕'

In [123]:
quote[-3:-1]

'니다'

In [125]:
quote[3:12]

'세요. 이소연입니'

In [127]:
quote[:5]

'안녕하세요'

In [128]:
quote[5:]

'. 이소연입니다.'

In [130]:
quote[:]

'안녕하세요. 이소연입니다.'

In [132]:
quote[::2]

'안하요 소입다'

In [134]:
quote[::-2]

'.니연이.세녕'

## 연습문제3.

In [143]:
a = "20190505chicken19000"
year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

print("year :" +year)
print("day :" +day)
print("menu :" +menu)
print("money :" +money)

year :2019
day :0505
menu :chicken
money :19000

# 문자열 formating

In [145]:
name = "신윤수"
major = "Computer"

In [147]:
intro = "안녕하세요. %s입니다. 전공은 %s입니다." %(name, major)
intro

'안녕하세요. 신윤수입니다. 전공은 Computer입니다.'

In [151]:
intro = "안녕하세요. {0}입니다. 전공은 {1}입니다.".format(name, major)
name = "이소연"
major = "Computer"
intro

'안녕하세요. 이소연입니다. 전공은 Computer입니다.'

In [155]:
pi = 3.14159
pi_def = "PI는 %.2f입니다." %pi
pi_def

'PI는 3.14입니다.'

In [159]:
f"PI는 {pi}입니다."

'PI는 3.14159입니다.'

## 연습문제 5.

In [173]:
a ="90:30:80"
math = a[:2]
english= a[3:5]
science= a[6:]

average = (int(math)+ int(english) +int(science)) / 3

print("평균 점수는{:.2f}입니다.".format(average))

평균 점수는66.67입니다.

# 문자열 함수

In [177]:
quote = "안녕하세요. 이소연입니다."
quote

'안녕하세요. 이소연입니다.'

In [178]:
len(quote)

14

In [185]:
quote.index("안")

0

In [188]:
"apple".upper()

'APPLE'

In [190]:
"APPLE".lower()

'apple'

In [193]:
quote.replace(".","?")

'안녕하세요? 이소연입니다?'

In [197]:
quote.count("이")

1

In [204]:
"     .안녕하세요.    ".strip()

'.안녕하세요.'

In [223]:
a = "90:30:80"

a.split(":")

['90', '30', '80']

In [216]:
fruit = "Apple Banana"

fruit_list = fruit.split(" ")
fruit_list

['Apple', 'Banana']

In [218]:
".".join(fruit_list)

'Apple.Banana'

## 연습문제 6.

In [242]:
a ="  90:30:80   "
a = a.strip()
a_list = a.split(":")

# math = a_list[0]
# english = a_list[1]
# science = a_list[2]

# math, english, science  =a.split(":")

math, english, science = list(map(int,a_list))

result = (int(math) + int(english) + int(science) ) /3 
print("평균 점수는 {:.2f} 입니다.".format(result))

평균 점수는 66.67 입니다.

# List

In [249]:
a = [1, 3.14, "Apple", ['a','b','c']]
a

[1, 3.14, 'Apple', ['a', 'b', 'c']]

In [250]:
len(a)

4

In [254]:
b = []
c = list()

type(b)
c

[]

In [259]:
d = list(range(10))
d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [260]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

## indexing

In [266]:
list1 = list(range(3,30,3))

In [267]:
list1[0]

3

In [268]:
list1[1:5]

[6, 9, 12, 15]

In [269]:
list1[1:5:2]

[6, 12]

In [271]:
list1[0] = 'a'
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [278]:
list1[1:4] = ['b','d','c']
list1

['a', 'b', 'd', 'c', 15, 18, 21, '1', 27]

In [281]:
del list1[-1]
list1

['a', 'b', 'd', 'c', 15, 18, 21]

In [284]:
a = list()
del a

In [286]:
for i in list1:
    print(i)

a
b
d
c
15
18
21

In [287]:
'a' in list1

True

In [288]:
'e' in list1

False

In [289]:
'a' not in list1

False

In [293]:
list1 + [10, 20]

['a', 'b', 'd', 'c', 15, 18, 21, 10, 20]

In [298]:
list1  * 2

['a', 'b', 'd', 'c', 15, 18, 21, 'a', 'b', 'd', 'c', 15, 18, 21]

In [299]:
len(list1)

7

In [300]:
list1.append(44)
list1

['a', 'b', 'd', 'c', 15, 18, 21, 44]

In [305]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [306]:
list1.append('a')
list1

[0, 1, 2, 3, 4, 'a']

In [307]:
list1.extend(['b','c'])
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c']

In [310]:
list1 = list1+['e']
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c', 'd', 'd', 'e']

## pop & remove

In [321]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [322]:
a = list1.pop()
print(list1)
print(a)

[0, 1, 2, 3]
4

In [323]:
b = list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [325]:
list1.remove(2)
list1

[0, 3]

## insert

In [326]:
list1

[0, 3]

In [328]:
list1.insert(1,'a')
list1

[0, 'a', 3]

## count & sort & reverse & index

In [345]:
list1 = [1,2,2,3,4]
list1

[1, 2, 2, 3, 4]

In [331]:
list1.count(2)

2

In [334]:
list1.index(3)

3

In [346]:
list1.reverse()
list1

[4, 3, 2, 2, 1]

In [348]:
list1.sort(reverse=True)
list1

[4, 3, 2, 2, 1]

In [349]:
list1.sort(reverse=False)
list1

[1, 2, 2, 3, 4]

In [351]:
tuple1 = tuple(list1)  # list처럼 값 변경 불가능
tuple1

(1, 2, 2, 3, 4)

## List의 복사  --> Copy

In [365]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [371]:
list2 = list1.copy() ## copy()함수를 써야함
list2

[0, 1, 2, 3, 4]

In [372]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [373]:
list2 = list1
list2

[0, 1, 2, 3, 4]

In [374]:
a = 10
b = a
a, b

(10, 10)

In [375]:
b = 20
a,b

(10, 20)

In [387]:
list1 = [
    [1,2,3],[4,5,6],[7,8,9]
]

list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [384]:
list2[0][1] = 'a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [385]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

## deepcopy

In [388]:
import copy

In [390]:
list1 = [
    [1,2,3],[4,5,6],[7,8,9]
]
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [392]:
list2[0][0] = 'a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [393]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Dictionary

In [394]:
a = {}
type(a)

dict

In [395]:
a = dict()
type(a)

dict

In [432]:
profile = dict(
     name= "이소연",
     city = "경기",
     height= 160
)

In [433]:
'이소연 ' in profile # 키가 중점

False

In [434]:
'name' in profile

True

## Dictionary 함수 *** get 중요 ***

In [435]:
profile['name'] = '손가은'
profile

{'name': '손가은', 'city': '경기', 'height': 160}

In [437]:
profile['city'] = '부산'
profile

{'name': '손가은', 'city': '부산', 'height': 160}

In [438]:
profile['math_scroe'] = 10
profile

{'name': '손가은', 'city': '부산', 'height': 160, 'math_scroe': 10}

In [440]:
profile['english_sore'] = 80
profile

{'name': '손가은',
 'city': '부산',
 'height': 160,
 'math_scroe': 10,
 'english_sore': 80}

In [442]:
profile['friends'] =['Minsoo','Judy','Poll']
profile

{'name': '손가은',
 'city': '부산',
 'height': 160,
 'math_scroe': 10,
 'english_sore': 80,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [444]:
profile.setdefault('math_scroe', 100)
profile

{'name': '손가은',
 'city': '부산',
 'height': 160,
 'math_scroe': 10,
 'english_sore': 80,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_scroe, 100': None}

In [447]:
profile.update({
    'math_score': 50,
    'hegith' : 159
})
profile

{'name': '손가은',
 'city': '부산',
 'height': 160,
 'math_scroe': 10,
 'english_sore': 80,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_scroe, 100': None,
 'math_score': 50,
 'hegith': 159}

In [453]:
profile

{'name': '손가은',
 'city': '부산',
 'height': 160,
 'math_scroe': 10,
 'english_sore': 80,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 50,
 'hegith': 159}

In [454]:
profile.get('name')

'손가은'

In [455]:
print(profile.get('comment'))

None

In [456]:
profile.get('comment',[])

[]

In [462]:
hegith = profile.pop('hegith')
print(hegith)
print(profile)

159
{'name': '손가은', 'city': '부산', 'math_scroe': 10, 'english_sore': 80, 'friends': ['Minsoo', 'Judy', 'Poll'], 'math_score': 50}

In [463]:
profile.keys()

dict_keys(['name', 'city', 'math_scroe', 'english_sore', 'friends', 'math_score'])

In [466]:
profile.values()

dict_values(['손가은', '부산', 10, 80, ['Minsoo', 'Judy', 'Poll'], 50])

In [467]:
profile.items()

dict_items([('name', '손가은'), ('city', '부산'), ('math_scroe', 10), ('english_sore', 80), ('friends', ['Minsoo', 'Judy', 'Poll']), ('math_score', 50)])

In [468]:
profile.clear()
profile

{}


# Set 
### 중복이 없음

In [475]:
set1 ={1,2,2,3,3,3,3}
set1

{1, 2, 3}

In [472]:
list1 = [1,2,3,4,4,4,4,3]
list(set(list1))

[1, 2, 3, 4]

In [473]:
set1

{1, 2, 3}

In [477]:
set2 = {3,4,5}
set2

{3, 4, 5}

## 집합연산자 & 함수

In [478]:
set1 | set2

{1, 2, 3, 4, 5}

In [479]:
set1 & set2

{3}

In [480]:
set.union(set1, set2)

{1, 2, 3, 4, 5}

In [481]:
set.intersection(set1, set2)

{3}

In [482]:
set1 - set2

{1, 2}

In [483]:
set.difference(set1, set2)

{1, 2}

In [484]:
set1 ^ set2

{1, 2, 4, 5}

In [485]:
set.symmetric_difference(set1, set2)

{1, 2, 4, 5}

In [487]:
{1} <= set1

True

In [488]:
set1 <= set2

False

In [490]:
set1.issubset(set2)

False

In [491]:
{1}.issubset(set1)

True

In [493]:
{1,2,3}.isdisjoint({4,5,6}) # 배반

True

In [494]:
{1,2,3}.isdisjoint({4,5,1})

False