In [15]:
x =3

In [5]:
if x== 10:
    print("X는 10입니다")

X는 10입니다

In [7]:
if x != 10:
    print("x는 10이 아닙니다.")

In [8]:
if x == 10:
    pass

In [9]:
if x > 3 and x < 20:
    print('x는 3보다 크고 20보다 작습니다.')

x는 3보다 크고 20보다 작습니다.

In [13]:
if x>3:
    print("x는 3보다 작습니다.")
    if x >=10:
        print("x는 10보다 크거나 같습니다.")
    if x <20:
        print("x는 20보다 작습니다.")

x는 3보다 작습니다.
x는 10보다 크거나 같습니다.
x는 20보다 작습니다.

In [17]:
if x >5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

x는 5보다 작거나 같습니다.

In [ ]:
if x>5:
    print("x는 5보다 큽니다.")
elif x<2:
    print("x는 2보다 큽니다.")
elif x>0:
    print("x는 0보다 큽니다.")
else:
    print("x는 음수입니다.")

## 연습문제1.

In [39]:
while(True):
    
    sc1 = int(input("점수1:  "))
    sc2 = int(input("점수2:  "))
    sc3 = int(input("점수3:  "))
    if(sc1<0 or sc1>100 or sc2<0 or sc2>100 or sc3<0 or sc3>100):
         print("잘못된 점수가 입력되었습니다.")
    else: break

점수1:  10
점수2:  22
점수3:  66

In [37]:
if(sc1<0 or sc1>100 or sc2<0 or sc2>100 or sc3<0 or sc3>100):
    print("잘못된 점수가 입력되었습니다.")
else:
    if(sc1 >65 and sc2 >65 and sc3 >65 ):
        print("합격")
    else:
        print("불합격")

합격

In [48]:
## 다른 답
sc1 = int(input("점수1:  "))
sc2 = int(input("점수2:  "))
sc3 = int(input("점수3:  "))

sc1, sc2, sc3 = map(int,[sc1, sc2, sc3])
if(sc1 not in range(101) or sc2 not in range(101) or sc3 not in range(101)):
    print("잘못된 점수가 입력되었습니다.")
elif (sc1 >65 and sc2 >65 and sc3 >65 ):  
    print("합격")
else:
    print("불합격")

점수1:  55
점수2:  99
점수3:  99
불합격

## 연습문제2.

In [63]:
try:
    a = int(input("정수를 입력하시오. : "))
        
    if(a % 2 == 0):
         print("입력하신 {} 는(은) 짝수입니다.".format(a))
    else:
        print("입력하신 {} 는(은) 홀수입니다.".format(a))
except:
    print("입력하신 숫자가 정수가 아닙니다.")

정수를 입력하시오. : 4
입력하신 4 는(은) 짝수입니다.

# For

In [64]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
for i in ['a', 'b', 'c']:
    print(i)

a
b
c

In [66]:
profile ={
    "name" : "이김박",
    "height" : 160,
    "City" : "독도"
}

In [70]:
for i in profile:
    print(i)

name
height
City

In [71]:
for i in "Orange":
    print(i)

O
r
a
n
g
e

## 연습문제3.

In [2]:
num1 = int(input("정수를 입력하세요 :  "))

for i in range(num1):
    print("안녕")

정수를 입력하세요 :  2
안녕
안녕

In [20]:
num2 = int(input("정수를 입력하세요 :  "))

# for i in range(num2):
#     print(" ",end="\n") 
#     for j in range(i+1):
#         print("*", end="")

# 다른 답
for i in range(num2):
    print("*"*(i+1))

정수를 입력하세요 :  3
*
**
***

In [11]:
num3 = int(input("정수를 입력하세요 :  "))

for i in range(num3,0,-1):
    print(" ",end="\n") 
    for j in range(i):
        print("*", end=" ")

정수를 입력하세요 :  5

* * * * *
* * * *
* * *
* *
*

## for문 중첩

In [25]:
for i in range(5):
    print("i : ", i)
    for j in range(5):
        #print("j : ", j)
        print("i * j : ", i* j)
    print("-"*10)

i :  0
i * j :  0
i * j :  0
i * j :  0
i * j :  0
i * j :  0
----------
i :  1
i * j :  0
i * j :  1
i * j :  2
i * j :  3
i * j :  4
----------
i :  2
i * j :  0
i * j :  2
i * j :  4
i * j :  6
i * j :  8
----------
i :  3
i * j :  0
i * j :  3
i * j :  6
i * j :  9
i * j :  12
----------
i :  4
i * j :  0
i * j :  4
i * j :  8
i * j :  12
i * j :  16
----------

In [27]:
for i in range(5):
    for j in range(5):
        print("코드 실행")

코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행

In [29]:
l1 = ['a', 'b', 'c', 'd']
for i in enumerate(l1):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [30]:
a, b =(10, 20)
print(a)
print(b)

10
20

In [32]:
l1 = ['a', 'b', 'c', 'd']
for idx, value in enumerate(l1):
    print(idx,value)

0 a
1 b
2 c
3 d

In [37]:
for idx, value in enumerate(l1):
    if idx>=2:
        l1[idx] = 0

In [38]:
l1

['a', 'b', 0, 0]

## 연습문제4.

In [130]:
x = [3, 6, 9, 20, -7, 5]

for idx, value in enumerate(x):
    x[idx] = value * 10
    print(x[idx])
x

30
60
90
200
-70
50

[30, 60, 90, 200, -70, 50]

In [135]:
y = {
    "math":70,
   "science" : 80,
    "english" : 20
}

for  key in y:
         y[key] = y[key]+10
        
y

{'math': 80, 'science': 90, 'english': 30}

In [71]:
num = int(input("정수를 입력하세요. : "))

for i in range(1,10,1):
    print(str(num) +" * " + str(i) +" = " + str(i*num)  ) #print("{} * {} = {}".format(num,i,num*i))

정수를 입력하세요. : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [155]:
word = ["school", "game", "piano", "science", "hotel", "mountian"]
len1 = []

for i in word:
    if len(i) >=6:
        len1.append(i)
len1

SyntaxError: invalid syntax (<ipython-input-155-e68642ae2829>, line 5)

In [158]:
for i in range(1,10,1):
    print("[%s 단]" % i)
    for j in range(1,10,1):
        print("{} * {} = {}".format( i, j ,i*j))
    print("-"*10)

[1 단]
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
----------
[2 단]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
[3 단]
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
[4 단]
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
[5 단]
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
[6 단]
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
[7 단]
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
[8 단]
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
[9 단]
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

In [153]:
num = int(input("정수를 입력하시오. : "))

for i in range(1,num+1,1):
    if (i % 3 ==0) and (i % 5 == 0):
        print("{}는 3과 5의 공배수".format(i))
    elif  i % 3 ==0:
         print("{}는 3의 공배수".format(i))
    elif  i % 5 ==0:
         print("{}는 5의 공배수".format(i))
    else:
        print(i)

정수를 입력하시오. : 20
1
2
3는 3의 공배수
4
5는 5의 공배수
6는 3의 공배수
7
8
9는 3의 공배수
10는 5의 공배수
11
12는 3의 공배수
13
14
15는 3과 5의 공배수
16
17
18는 3의 공배수
19
20는 5의 공배수