In [2]:
def add_num(num1, num2):
    print("add_num 함수 실행")
    return num1 + num2

In [4]:
add_num(3,5)

add_num 함수 실행

8

In [5]:
output = add_num(3,5)

output

add_num 함수 실행

8

In [6]:
def func():
    print("Hello world")

In [7]:
func()

Hello world

In [10]:
def func2():
    return("Hello world")

In [11]:
func2()

'Hello world'

In [12]:
def func3(name):
    return "Hello %s" % name

In [13]:
s = func3("Soyeon")
s

'Hello Soyeon'

In [14]:
def func4(name):
    print("Hello %s" % name)

In [16]:
func4("Soyeon")

Hello Soyeon

# 변수의 scope

In [18]:
a,b,c = 1,2,5

In [19]:
def func1():
    a = 3
    b = 4
    print(a,b,c)
    return

In [20]:
func1()

3 4 5

In [21]:
a,b,c

(1, 2, 5)

In [22]:
def func2():
    a = 5
    b = 6
    func1()
    print(a,b)

In [23]:
func2()

3 4 5
5 6

In [24]:
a = 5
def func3():
    global a #전역변수를 사용하겠다.
    a =1
    print(a)

In [26]:
func3()
a

1

1

## 연습문제0.

사칙연산 함수만들기
ex)
calc(5, 6)
덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334

a= calc(5,6)
return Type: (덧셈결과, 뺄셈결과, 곱셈결과, 나눗셈결과)

In [53]:
def calc(num1, num2):
    add_n = num1+ num2
    sub_n = num1 - num2
    max_n = num1 * num2
    div_n = num1 / num2
    return(add_n, sub_n, max_n, div_n)

In [59]:
a = list(calc(5,6))
print("덧셈 :{}, 뺄셈: {}, 곱셈:{}, 나눗셈 :{}".format(a[0], a[1],a[2],a[3]))

덧셈 :11, 뺄셈: -1, 곱셈:30, 나눗셈 :0.8333333333333334

### 해당값을 모두 찾아 위치를 리턴해주는 함수만들기

In [89]:
def addindex(a,b):
    
    lis2 =[]
    idx = 0
    for i in a:    
        if i == b:
            lis2.append(idx)
        idx+=1
    
    
    return lis2

In [90]:
lis = [1,2,3,1,4,2,1,5,2,5,3,1]
res = addindex(lis, 5)
print(res)

[7, 9]

In [87]:
# 다른답
def allindex(i, target):
    result =[]
    for idx, value in enumerate(i):
        if value == target:
            result.append(idsx);
    return result

# lambda  함수

In [93]:
(lambda x: x**2)(10)

100

In [95]:
(lambda x,y: (x+y, x-y))(5,2)

(7, 3)

In [96]:
add = lambda x,y:x+y

add(3,4)

7

In [99]:
lis = [1,2,3,1,4,2,1]

In [98]:
list(map(str,lis))

['1', '2', '3', '1', '4', '2', '1']

In [101]:
list(map(lambda x:x**2, lis))

[1, 4, 9, 1, 16, 4, 1]

# 인수(Arguments)

In [104]:
def make_profile(name, email, height):
    return{
        'name': name,
        'email' : email,
        'height' : height
    }

In [106]:
make_profile("이소연","call203@naver.com",160)

{'name': '이소연', 'email': 'call203@naver.com', 'height': 160}

In [107]:
make_profile("이소연",height=160, email="call203@naver.com")

{'name': '이소연', 'email': 'call203@naver.com', 'height': 160}

# 가변인수(*args)

In [109]:
def add(*args):
    print(args)
    print(type(args))
    return(sum(args))

In [112]:
a = add(1)
print(a)

(1,)
<class 'tuple'>
1

In [113]:
a = add(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)
<class 'tuple'>
15

## 가변키워드인수(**kwargs)

In [114]:
def make_profile(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
    if kwargs.get('email'):
        make_email(kwargs['email'])
        
    if kwargs.get('password'):
        make_password(kwars['password'])
        
    return kwargs

In [115]:
profile = make_profile(name="이소연", city="서울", email="call203@naver.com")
print(profile)

{'name': '이소연', 'city': '서울', 'email': 'call203@naver.com'}
<class 'dict'>
{'name': '이소연', 'city': '서울', 'email': 'call203@naver.com'}

In [116]:
def make_profile(name, email, city="서울", *friends, **kwgars):
    result={
        "name" : name,
        "email" : email,
        "city" : city,
        "friends" : friends
    }
    result.update(kwgars)
    return result

In [127]:
profile = make_profile("이소연", "call203@naver.com")
profile

{'name': '이소연', 'email': 'call203@naver.com', 'city': '서울', 'friends': ()}

In [128]:
profile = make_profile("이소연", "call203@naver.com","부산","Judy","Mike","Poll",intro="안녕 나는 ***이야")
profile

{'name': '이소연',
 'email': 'call203@naver.com',
 'city': '부산',
 'friends': ('Judy', 'Mike', 'Poll'),
 'intro': '안녕 나는 ***이야'}

In [129]:
#리스트 한개를 넘겨주면 리스트 안 개수가 아니라 갯수 하나로 인식한다.
def func1(*args):
    
    return sum(args)

In [130]:
list1=[1,2,3,4,5]
func1(list1)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [131]:
list1=[1,2,3,4,5]
func1(*list1) #리스트 원소들을 요소들로 풀어서 전달해 준다.

15

In [132]:
def validate_profile(**profile):
    print(profile)
    print(type(profile))
    
    if not profile.get("email"):
        return False
    
    if not profile['email'].count("0"):
        return False
    
    return True

In [136]:
profile = {
    "name" : "이소연",
    "city" : "서울",
    "email" : "call203@naver.com"
}

In [137]:
validate_profile(**profile)

{'name': '이소연', 'city': '서울', 'email': 'call203@naver.com'}
<class 'dict'>

True

## 연습문제1.

가변인수와 고정인수를 사용해 모든값을 더하거나 빼거나 곱하는 함수 작성

In [195]:
def calc(what, *nums):

    sum_n =0
    
    if what == "+":
        return sum(nums)
    
    elif what == "*":
        sum_n =1
        for i in nums:
            sum_n *= i
            
    elif what =="-": #return args[0] - sum(args[1:])
        for i in nums:
            sum_n -= i
        sum_n=sum_n+nums[0]
        
    return sum_n

In [196]:
calc("-",1,2,3)

-5

### 가변인수를 이용 가장 높은값, 낮은값, 평균값을 구하는 함수 작성

In [162]:
def calc(*nums):
    print("최대값:{}, 최소값:{}, 평균값:{}".format(max(nums),min(nums),sum(nums)/len(nums)))

In [164]:
calc(1,6,34,8,54,32,11,1)

최대값:54, 최소값:1, 평균값:18.375