In [15]:
x =3

In [5]:
if x== 10:
    print("X는 10입니다")

X는 10입니다

In [7]:
if x != 10:
    print("x는 10이 아닙니다.")

In [8]:
if x == 10:
    pass

In [9]:
if x > 3 and x < 20:
    print('x는 3보다 크고 20보다 작습니다.')

x는 3보다 크고 20보다 작습니다.

In [13]:
if x>3:
    print("x는 3보다 작습니다.")
    if x >=10:
        print("x는 10보다 크거나 같습니다.")
    if x <20:
        print("x는 20보다 작습니다.")

x는 3보다 작습니다.
x는 10보다 크거나 같습니다.
x는 20보다 작습니다.

In [17]:
if x >5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

x는 5보다 작거나 같습니다.

In [ ]:
if x>5:
    print("x는 5보다 큽니다.")
elif x<2:
    print("x는 2보다 큽니다.")
elif x>0:
    print("x는 0보다 큽니다.")
else:
    print("x는 음수입니다.")

## 연습문제1.

In [39]:
while(True):
    
    sc1 = int(input("점수1:  "))
    sc2 = int(input("점수2:  "))
    sc3 = int(input("점수3:  "))
    if(sc1<0 or sc1>100 or sc2<0 or sc2>100 or sc3<0 or sc3>100):
         print("잘못된 점수가 입력되었습니다.")
    else: break

점수1:  10
점수2:  22
점수3:  66

In [37]:
if(sc1<0 or sc1>100 or sc2<0 or sc2>100 or sc3<0 or sc3>100):
    print("잘못된 점수가 입력되었습니다.")
else:
    if(sc1 >65 and sc2 >65 and sc3 >65 ):
        print("합격")
    else:
        print("불합격")

합격

In [48]:
## 다른 답
sc1 = int(input("점수1:  "))
sc2 = int(input("점수2:  "))
sc3 = int(input("점수3:  "))

sc1, sc2, sc3 = map(int,[sc1, sc2, sc3])
if(sc1 not in range(101) or sc2 not in range(101) or sc3 not in range(101)):
    print("잘못된 점수가 입력되었습니다.")
elif (sc1 >65 and sc2 >65 and sc3 >65 ):  
    print("합격")
else:
    print("불합격")

점수1:  55
점수2:  99
점수3:  99
불합격

## 연습문제2.

In [63]:
try:
    a = int(input("정수를 입력하시오. : "))
        
    if(a % 2 == 0):
         print("입력하신 {} 는(은) 짝수입니다.".format(a))
    else:
        print("입력하신 {} 는(은) 홀수입니다.".format(a))
except:
    print("입력하신 숫자가 정수가 아닙니다.")

정수를 입력하시오. : 4
입력하신 4 는(은) 짝수입니다.

# For

In [64]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
for i in ['a', 'b', 'c']:
    print(i)

a
b
c

In [66]:
profile ={
    "name" : "이김박",
    "height" : 160,
    "City" : "독도"
}

In [70]:
for i in profile:
    print(i)

name
height
City

In [71]:
for i in "Orange":
    print(i)

O
r
a
n
g
e

## 연습문제3.

In [2]:
num1 = int(input("정수를 입력하세요 :  "))

for i in range(num1):
    print("안녕")

정수를 입력하세요 :  2
안녕
안녕

In [20]:
num2 = int(input("정수를 입력하세요 :  "))

# for i in range(num2):
#     print(" ",end="\n") 
#     for j in range(i+1):
#         print("*", end="")

# 다른 답
for i in range(num2):
    print("*"*(i+1))

정수를 입력하세요 :  3
*
**
***

In [11]:
num3 = int(input("정수를 입력하세요 :  "))

for i in range(num3,0,-1):
    print(" ",end="\n") 
    for j in range(i):
        print("*", end=" ")

정수를 입력하세요 :  5

* * * * *
* * * *
* * *
* *
*

## for문 중첩

In [25]:
for i in range(5):
    print("i : ", i)
    for j in range(5):
        #print("j : ", j)
        print("i * j : ", i* j)
    print("-"*10)

i :  0
i * j :  0
i * j :  0
i * j :  0
i * j :  0
i * j :  0
----------
i :  1
i * j :  0
i * j :  1
i * j :  2
i * j :  3
i * j :  4
----------
i :  2
i * j :  0
i * j :  2
i * j :  4
i * j :  6
i * j :  8
----------
i :  3
i * j :  0
i * j :  3
i * j :  6
i * j :  9
i * j :  12
----------
i :  4
i * j :  0
i * j :  4
i * j :  8
i * j :  12
i * j :  16
----------

In [27]:
for i in range(5):
    for j in range(5):
        print("코드 실행")

코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행

In [29]:
l1 = ['a', 'b', 'c', 'd']
for i in enumerate(l1):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [30]:
a, b =(10, 20)
print(a)
print(b)

10
20

In [32]:
l1 = ['a', 'b', 'c', 'd']
for idx, value in enumerate(l1):
    print(idx,value)

0 a
1 b
2 c
3 d

In [37]:
for idx, value in enumerate(l1):
    if idx>=2:
        l1[idx] = 0

In [38]:
l1

['a', 'b', 0, 0]

## 연습문제4.

In [130]:
x = [3, 6, 9, 20, -7, 5]

for idx, value in enumerate(x):
    x[idx] = value * 10
    print(x[idx])
x

30
60
90
200
-70
50

[30, 60, 90, 200, -70, 50]

In [135]:
y = {
    "math":70,
   "science" : 80,
    "english" : 20
}

for  key in y:
         y[key] = y[key]+10
        
y

{'math': 80, 'science': 90, 'english': 30}

In [71]:
num = int(input("정수를 입력하세요. : "))

for i in range(1,10,1):
    print(str(num) +" * " + str(i) +" = " + str(i*num)  ) #print("{} * {} = {}".format(num,i,num*i))

정수를 입력하세요. : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [155]:
word = ["school", "game", "piano", "science", "hotel", "mountian"]
len1 = []

for i in word:
    if len(i) >=6:
        len1.append(i)
len1

SyntaxError: invalid syntax (<ipython-input-155-e68642ae2829>, line 5)

In [158]:
for i in range(1,10,1):
    print("[%s 단]" % i)
    for j in range(1,10,1):
        print("{} * {} = {}".format( i, j ,i*j))
    print("-"*10)

[1 단]
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
----------
[2 단]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
[3 단]
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
[4 단]
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
[5 단]
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
[6 단]
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
[7 단]
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
[8 단]
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
[9 단]
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

In [153]:
num = int(input("정수를 입력하시오. : "))

for i in range(1,num+1,1):
    if (i % 3 ==0) and (i % 5 == 0):
        print("{}는 3과 5의 공배수".format(i))
    elif  i % 3 ==0:
         print("{}는 3의 공배수".format(i))
    elif  i % 5 ==0:
         print("{}는 5의 공배수".format(i))
    else:
        print(i)

정수를 입력하시오. : 20
1
2
3는 3의 공배수
4
5는 5의 공배수
6는 3의 공배수
7
8
9는 3의 공배수
10는 5의 공배수
11
12는 3의 공배수
13
14
15는 3과 5의 공배수
16
17
18는 3의 공배수
19
20는 5의 공배수

In [159]:
i = 0
while i<5:
    print("i: ", i)
    i = i + 1

i:  0
i:  1
i:  2
i:  3
i:  4

In [160]:
i

5

In [ ]:
i = input("s가 입력되면 멈춥니다.")
while i.upper() != 'S': # 대소문자 구분 없게 하기 위해
    print("프로세스 동작중")
    i = input("s가 입력되면 멈춥니다.")

### 사용자부터 숫자를 계속 입력받다가  or S 를 입력하면 합계출력

In [5]:
num = input("숫자입력 : ")

result =0

while num.lower() !='s':
    result += int(num);
    num = input("숫자입력 : ")

result

숫자입력 : 8
숫자입력 : 12
숫자입력 : 87
숫자입력 : S

107

### 가위바위보 게임만들기

In [24]:
import random

total =0
user =0
same = 0


while(True):
    res = input("가위(1), 바위(2), 보(3)을 입력해주세요! : ")
    ran = random.randint(1,3)
    
    if int(res) ==1:
        total+=1
        
        if ran ==2 :
            print("유저: 가위, 컴퓨터: 바위")
        elif ran == 3:
            user+=1
            print("유저: 가위, 컴퓨터: 보")
        else:
            same+=1
            print("유저: 가위, 컴퓨터: 가위")
    elif int(res) ==2:
        total+=1          
        if ran == 3 :
            print("유저: 바위, 컴퓨터: 보")
        elif ran == 1:
            user+=1
            print("유저: 바위, 컴퓨터: 가위")
        else:
            same+=1
            print("유저: 바위, 컴퓨터: 바위") 
    elif int(res) ==3:
        total+=1
            
        if ran ==1 :
            print("유저: 보, 컴퓨터: 가위")
        elif ran == 2:
            user+=1
            print("유저: 보, 컴퓨터: 바위")
        else:
            same+=1
            print("유저: 보, 컴퓨터: 보")
    else:
        break;
print("\n")        
print("전체 : {}, 승리 :{}, 비김: {}".format(total,user,same))

가위(1), 바위(2), 보(3)을 입력해주세요! : 1
유저: 가위, 컴퓨터: 보
가위(1), 바위(2), 보(3)을 입력해주세요! : 3
유저: 보, 컴퓨터: 가위
가위(1), 바위(2), 보(3)을 입력해주세요! : 2
유저: 바위, 컴퓨터: 바위
가위(1), 바위(2), 보(3)을 입력해주세요! : 1
유저: 가위, 컴퓨터: 가위
가위(1), 바위(2), 보(3)을 입력해주세요! : 1
유저: 가위, 컴퓨터: 가위
가위(1), 바위(2), 보(3)을 입력해주세요! : 2
유저: 바위, 컴퓨터: 보
가위(1), 바위(2), 보(3)을 입력해주세요! : 5


전체 : 6, 승리 :1, 비김: 3

In [31]:
## 다른 코드

user = int(input("가위(1), 바위(2), 보(3)을 입력해주세요! : "))
com = random.randint(1,3)

rsp_list =[None, "가위", "바위", "보"]


total = 0
win = 0
draw = 0

while user  in [1,2,3]:
    print("유저 : {}, 컴퓨터 : {}".format(rsp_list[user], rsp_list[com])) 
    
    ##비긴경우
    if(user == com):
        draw+=1
        pass
        
    ##이긴경우
    elif (user == 1 and com == 3) or (user == 2 and com == 1) or (user == 3 and com == 2):
        win+=1
        pass
    
    ##진경우 => 전체 - (승리 + 비김)
    total+=1
    
    user = input("가위(1), 바위(2), 보(3)을 입력해주세요! : ")
    com = random.randint(1,3)
    
    
print("게임종료(전체:{}, 승리:{}, 비김:{})".format(total,win,draw))

가위(1), 바위(2), 보(3)을 입력해주세요! : 2
유저 : 바위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)을 입력해주세요! : 1
게임종료(전체:1, 승리:0, 비김:0)

# Break, Continue

In [32]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [34]:
for i in range(10):
    if 5<i<=8:
        continue
    print(i)

0
1
2
3
4
5
9

In [38]:
while True:
    print("Hello")
    num = input("s 입력시 멈춥니다.")
    
    if num.lower() == 's':
        break;

Hello
s입력시 멈춥니다.s

### (1) while 문과 break 문을 사용하여 사용자가 입력한 숫자만큼 반복하여 ‘hi’ 출력하기

### (2) for 문과 continue 문을 사용하여 사용자가 입력한 숫자까지의 짝수를 출력하기

In [43]:
num = input("정수를 입력해주세요 : ")
i = 0;

while True:
    print("hi")
    i+=1
    if i == int(num):
        break

정수를 입력해주세요 : 6
hi
hi
hi
hi
hi
hi

In [55]:
num = int(input("정수를 입력해주세요 : "))

for i in range(num):
    
    if not i% 2 == 0:
         continue
        
    print(i)

정수를 입력해주세요 : 5
0
2
4

### randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고 
### 가장 큰 수를 구하는 코드를 작성하시오.

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 76이 나와야 함.

In [69]:
import random

li1=[]
for i in range(100):
    li1.append(random.randint(1,1000))

print(li1) 
print("\n")

print("최대값 :"+ str(max(li1)))

print("합계 : " +  str(sum(li1)))

[837, 442, 321, 203, 189, 191, 944, 949, 442, 221, 1000, 897, 372, 471, 141, 147, 162, 156, 781, 787, 582, 1, 745, 299, 980, 809, 381, 900, 102, 256, 673, 834, 785, 587, 973, 865, 962, 698, 468, 331, 785, 901, 586, 425, 497, 841, 375, 857, 595, 318, 810, 858, 211, 139, 438, 285, 980, 999, 693, 787, 378, 119, 530, 476, 958, 741, 905, 551, 298, 46, 280, 948, 492, 500, 565, 253, 744, 751, 112, 540, 487, 408, 75, 262, 692, 236, 193, 705, 323, 302, 120, 346, 504, 274, 170, 967, 476, 858, 5, 12]


최대값 :1000
합계 : 51866

In [71]:
# 다른코드
li1=[]
max_num = 0
sum_num =0;
for i in range(100):
    rend_num = random.randint(1,1000)
    li1.append(rend_num)
    sum_num+=rend_num
    
    if max_num < rend_num:
        max_num = rend_num

print(li1) 
print(max_num) 
print(sum_num)

[503, 111, 371, 645, 417, 408, 582, 43, 351, 616, 716, 740, 468, 939, 632, 53, 645, 461, 55, 504, 405, 995, 893, 516, 730, 37, 137, 151, 737, 838, 544, 642, 569, 181, 532, 654, 191, 453, 211, 860, 347, 835, 282, 371, 574, 682, 238, 855, 856, 183, 696, 8, 136, 299, 201, 309, 984, 357, 842, 591, 271, 643, 225, 804, 344, 629, 664, 390, 160, 487, 250, 451, 397, 573, 647, 573, 263, 690, 892, 9, 616, 40, 545, 457, 881, 493, 766, 43, 544, 327, 668, 471, 55, 754, 474, 148, 549, 940, 776, 371]
995
48462

# 리스트 컴프리핸션

In [72]:
list(range(1,5))

[1, 2, 3, 4]

In [73]:
# 1. range
list(range(10,50,10))

[10, 20, 30, 40]

In [76]:
new_list = []
for i in range(1,5):
    new_list.append(i * 10)
new_list

[10, 20, 30, 40]

In [80]:
new_list = [i*10 + 7.5 for i in range(1,5,1)]
new_list

[17.5, 27.5, 37.5, 47.5]

In [87]:
# 1부터 100까지의 숫자 중에서 3의 배수만 모아서 새로운 리스트를 만드시오
new_list2 = [i for i in range(1,101,1) if i% 3==0]

print(new_list2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [91]:
new_list3 = [i*j for j in range(1,11) for i in range(1,11)]
print(new_list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [95]:
keys =['city','name','height']
value =['Seoul','신윤수',160]

new_dict = {keys[i]: value[i] for i in range(len(keys))}

new_dict

{'city': 'Seoul', 'name': '신윤수', 'height': 160}

# Zip

In [96]:
for i in range(len(keys)):
    k = keys[i]
    v = value[i]
    print(k,v)

city Seoul
name 신윤수
height 160

In [97]:
list(zip(keys, value))

[('city', 'Seoul'), ('name', '신윤수'), ('height', 160)]

In [98]:
for k, v in zip(keys, value):
    print(k,v)

city Seoul
name 신윤수
height 160

In [99]:
dict(zip(keys, value))

{'city': 'Seoul', 'name': '신윤수', 'height': 160}

### (1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountn”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요
(리스트 컴프리핸션을 사용해주세요)
### (2) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 리스트의 글자수가 들어가있는 새로운 리스트를 생성하세요
(리스트 컴프리핸션을 사용해주세요)

In [102]:
word =["school", "game", "piano", "science", "hotel", "mountn"]

new_list4 = [word[i] for i in range(len(word)) if len(word[i]) >=6]

print(new_list4)

['school', 'science', 'mountn']

In [105]:
word =["school", "game", "piano", "science", "hotel", "mountn"]

new_list5 = [len(word[i]) for i in range(len(word))]

print(new_list5)

[6, 4, 5, 7, 5, 6]

### (1) 아래 두 리스트를 각 요소들을 곱해 새로운 리스트 C 를 만드세요
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]

In [182]:
a = [[10, 20], [30, 40], [50, 60]] 
b = [[2, 3], [4, 5], [6, 7]]

c=[]

for i,j in a:
    for x,y in b:
        c.append([i*x, j*y])

print(c)

[[20, 60], [40, 100], [60, 140], [60, 120], [120, 200], [180, 280], [100, 180], [200, 300], [300, 420]]

In [186]:
new_list=[]
for [a1,a2],[b1,b2] in zip(a,b):
    new_list.append([a1*b1, a2*b2])
    
new_list

[[20, 60], [120, 200], [300, 420]]

### (1) 아래의 학습코드를 가지고 a 리스트가 [[1,2],[3,4],[5,6]] 와 같이 만들어지도록 수정하세요
>>> a = []
>>> for i in range(3):
>>>     line = []
>>>     for j in range(2):
>>>        line.append(0)
>>>     a.append(line)
>>> print(a)

In [175]:
a = []
for i in range(3):
    line = []
    for j in range(2):
        line.append((i*2+1)+j)
    a.append(line)
print(a)

[[1, 2], [3, 4], [5, 6]]